// Code blocks and syntax highlighting

// /* Applies to inline `code blocks` */
.highlighter-rouge {
    font-family: $root-font-family;
    padding: 0.3em 1em;
    margin: 20px 0px;
    background-color: #e0e0e0;
    color: $code-light;
    @media (prefers-color-scheme: dark) {
        background-color: $code-bg;
        color: $code-dark;
    }
    border-radius: 3px;
}

pre,code {
    font-feature-settings: "kern" off;
    font-kerning: none;
    font-variant: none;
    
    ::selection {
        color: $code-bg;
        background-color: $code-dark;
    }

    ::-moz-selection {
        color: $code-bg;
        background-color: $code-dark;
    }

    ::-webkit-selection {
        color: $code-bg;
        background-color: $code-dark;
    }
}
/* Inline code, highlight */
code.highlighter-rouge {
    white-space: nowrap;
    padding: 0.2em 0.2em;
}

blockquote code {
     color: #656565;
}

/* Block code, no highlight */
pre.highlight {
    overflow-x: auto;
    margin: 30px * 0.75 30px / 2;
    padding: 15px 17px;
    overflow-x: auto;

    code {
        border: 0;
        padding: 0;
        white-space: pre;
    }
}

/*figure.highlight pre code {
            overflow-x: hidden;
            background-color: yellow;
            table {
                display:block;
                width:inherit;
                tbody {
                    tr {
                        td.code {
                            width: 20px;
                            pre {
                                margin: 30px * 0.75 30px / 2;
                                padding: 15px 17px;
                    }
                }
            }
        }
    }
}*/
table.rouge-table {
    width: 100%;
    table-layout: fixed;
    padding:1em;
    margin:0;
}
table.rouge-table tbody tr {
    td.gutter.gl {
        width: 2.5em;
        border-right: 3px solid grey;
        pre.lineno {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    td.code {
        pre {
            overflow-x:scroll;
        }
    }
}

figure.highlight > pre {
    border: 2px solid $code-light;
    padding: 0em 0em;
    @media (prefers-color-scheme: dark) {
        border: 1px solid $code-dark;
    }
}

figure.highlight {
    postion: relative;
    pre {
        border-radius: 26px;
        code {
            display: block;
            line-height: 1.5;
            &[data-lang]::before {
                content: attr(data-lang);
                position: relative;
                left: 20px;
                top: -12px;
                font-size: 18px;
            }
        }
    }
}
// /* Block code, highlight */
figure.highlight {
    position: relative;
    pre {
	    border-radius: 5px;
		box-shadow: 0 4px 30px rgba(0,0,0,.4);
 	
        code {
            background-color: $code-bg;
            counter-reset: code;
            display: block;
            line-height: 1.5;
            /* Display language name */
            &[data-lang]::before {
                content: attr(data-lang);
                position: absolute;
                right: 20px; // 15 + 5
                font-size: 16px;
                top: -12px;
                padding: 0px 7px;
                text-transform: uppercase;
                font-weight: bold;
                border: 1px solid $code-light;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                min-width: 30px;
                text-align: center;
                color: $code-light;
                background-color: $code-bg;
 			
                border-bottom-right-radius: 15px;
				@media (prefers-color-scheme: dark) {
				border: 1px solid $code-dark;
				color: $code-dark;
				}
 			
				@mixin media-query($device) {
				@media screen and (max-width: $device) {
				@content;
				}
			}

                @include media-query(300px) {
                    visibility: hidden;
                }
            }
}
}
}


